<!-- templates/add_funds.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пополнить баланс</title>
</head>
<body>
    <h1>Пополнить баланс</h1>

    Ваш баланс: {{ current_balance }} рублей<br>
    <form method="post" action="{{ url_for('add_funds') }}">
        {{ form.csrf_token }}
        <div>{{ form.amount.label }} {{ form.amount }}</div>
        <div>{{ form.submit }}</div>
    </form>
    <form action="{{ url_for('dashboard') }}" method="get">
    <button type="submit">Вернуться в профиль</button>
</form>
</body>
</html>
