<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="custom-style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание вклада</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans:400,600,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap">
    <link rel="stylesheet" href="/static/css/custom-style.css">
</head>

<header>
    <div class="title">
        <h1 style="font-size: 3em; text-align: center;">Кредитная организация</h1>
    </div>
</header>

<h1>Создание вклада</h1>

<form id="depositForm" action="{{ url_for('create_deposit') }}" method="post" class="container">
    {{ form.hidden_tag() }}

    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    Ваш баланс: {{ current_balance }} рублей<br>

    <div class="form-group">
        <label for="amount">Сумма от 100 рублей</label>
        {{ form.amount(id="amountInput", class="form-control") }}
    </div>

    <div id="insufficientMinAmount" style="color: red;"></div>


    <div class="form-group">
        <label for="duration">Срок</label>
        {{ form.duration(class="form-control") }}
    </div>

    <div id="rateInfo"></div>

    <div id="insufficientFunds" style="color: red;"></div>

    <button type="submit" style="display: none;" id="openDepositBtn" class="btn btn-success">Открыть вклад</button>


</form>

<main class="container">
    <form action="{{ url_for('dashboard') }}" method="get">
        <button type="submit">Вернуться в профиль</button>
    </form>
</main>



<!-- Скрипт для отображения информации о проценте и процентах в рублях -->
<script>
    var amountInput = document.getElementById("amountInput");
    var rateInfo = document.getElementById("rateInfo");
    var openDepositBtn = document.getElementById("openDepositBtn");
    var insufficientFundsMsg = document.getElementById("insufficientFunds");
    var insufficientMinAmountMsg = document.getElementById("insufficientMinAmount");

    amountInput.addEventListener("input", function () {
        showRateInfo();
    });

    function showRateInfo() {
        rateInfo.innerHTML = "";
        // Проверка на пустое поле amount
        if (!amountInput.value.trim()) {
            //rateInfo.innerHTML = "";
            return;
        }

        var amount = parseFloat(amountInput.value);


       // Проверка на недостаточность средств
        if (amount > {{ current_balance }}) {
            insufficientFundsMsg.textContent = "Недостаточно средств для открытия вклада";
            openDepositBtn.style.display = "none";
            return;
        } else {
            insufficientFundsMsg.textContent = "";
        }

       if (amount < 100) {
            insufficientMinAmountMsg.textContent = "от 100 рублей";
            openDepositBtn.style.display = "none";
            //rateInfo.innerHTML = "";
            return;
       } else {
            insufficientMinAmountMsg.textContent = "";
       }

        var duration = document.getElementById("duration").value;
        var months = parseInt(duration);
        var interestRate = (duration <= 12) ? 10 : 15;
        var futureInterest = (amount * duration * interestRate / 12 / 100).toFixed(2);

        var rateInfoText = "Процентная ставка: " + interestRate + "%<br>";
        rateInfoText += "Через " + months + " месяцев будет начислено: " + futureInterest + " рублей";

        rateInfo.innerHTML = rateInfoText;

        // Показываем кнопку "Открыть вклад" после отображения информации
        openDepositBtn.style.display = "block";
    }
</script>

</body>
</html>
