<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание вклада</title>
</head>
<body>

<h1>Создание вклада</h1>

<form action="{{ url_for('create_deposit') }}" method="post">

    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    Ваш баланс: {{ current_balance }} рублей<br>

    <div class="form-group">
        {{ form.hidden_tag() }}
        <label for="amount">Сумма</label>
        {{ form.amount(class="form-control") }}
        {% if form.amount.errors %}
            <span class="error">This field is required.</span>
        {% endif %}
        <br>
        <label for="duration">Срок</label>
        {{ form.duration(class="form-control") }}
        {% if form.duration.errors %}
            <span class="error">This field is required.</span>
        {% endif %}
    </div>





    <button type="submit" class="btn btn-primary">Открыть вклад</button>
</form>

<form action="{{ url_for('dashboard') }}" method="get">
    <button type="submit">Вернуться в профиль</button>
</form>
</body>
</html>
