<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Virtual Card</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans:400,600,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap">
    <link rel="stylesheet" href="/static/css/custom-style.css">
</head>
<body>
<header>
    <div class="title">
        <h1 style="font-size: 3em; text-align: center;">Кредитная организация</h1>
    </div>
</header>
    <main class="container">
    <h1>Заказать виртуальную карту</h1>

    {% if error %}
    <p class="error">{{ error }}</p>
    Возвращение в личный кабинет через <span id="countdown">10</span> с

    <script>
        var seconds = 10; // Измените это значение на желаемое количество секунд
        var countdownElement = document.getElementById('countdown');

        function updateCountdown() {
            countdownElement.textContent = seconds;
            seconds--;

            if (seconds < 0) {
                window.location.href = "{{ url_for('dashboard') }}";
            } else {
                setTimeout(updateCountdown, 1000);
            }
        }

        // Инициализация отсчета времени
        updateCountdown();
    </script>
    {% else %}
    <form method="post" action="{{ url_for('create_virtual_card') }}">
        {{ form.csrf_token }}

        <p>ФИО: {{ user.full_name }}</p>
        <p>Номер паспорта: {{ user.passport_data }}</p>
        <p>Номер телефона: {{ user.phone }}</p>
        <label for="processing_agreement">
            <input type="checkbox" id="processing_agreement" name="processing_agreement" required>
            Согласие на обработку персональных данных
        </label>
        <div class="form-actions">
                <button type="submit">Создать</button>
            </div>
    </form>

    {% endif %}

<form action="{{ url_for('dashboard') }}" method="get">
    <button type="submit">Вернуться в профиль</button>
</form>


    </main>
</body>
</html>
