<!-- templates/dashboard.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <style>
        .green-text { color: green; }
        .black-text { color: black; }
        .blue-text {color: blue; }
    </style>
</head>
<body>
<h1>Личный кабинет</h1>

<h1>Добрый день, {{ user.full_name }}!</h1>

Ваш баланс: {{ current_balance }} рублей<br>

Имя: {{ name }}<br>
Дата рождения: {{ date_of_birth }}<br>

Почта: {{ email }}<br>
Номер телефона: {{ phone_number }}<br>


<h2>Виртуальная карта</h2>
{% if cards %}
<ul>
    {% for card in cards %}
    <div class="card-info">
        <p>Карта №{{ card.card_number }}</p>
        <p>Срок действия до {{ card.formatted_expiry_date() }} года</p>
        <br>
    </div>
    {% endfor %}
</ul>
{% else %}
<p>У вас пока нет карты

<form method="post" action="{{ url_for('create_virtual_card') }}">
    <div><input type="submit" value="Заказать виртуальную карту"></div>
</form></p>
{% endif %}

<!-- История операций -->
<h2>История операций</h2>

{% for transaction_log in transaction_logs %}
{% if transaction_log.operation_type == 'deposit' %}
<p class="black-text">{{transaction_log.formatted_operation_datetime() }}
    Открытие вклада: -{{ transaction_log.operation_amount }} </p>
{% elif transaction_log.operation_type == 'credit' %}
<p class=black-text">{{transaction_log.formatted_operation_datetime() }}
    Кредит: <span class="green-text"> +{{ transaction_log.operation_amount }}</span></p>
{% elif transaction_log.operation_type == 'replenishment' %}
<p class="black-text">{{transaction_log.formatted_operation_datetime() }}
    Пополнение: <span class="green-text"> +{{ transaction_log.operation_amount }}</span></p>
{% elif transaction_log.operation_type == 'ordering a card' %}
<p class="black-text">{{transaction_log.formatted_operation_datetime() }}
    Заказ виртуальной карты</p>
{% endif %}
{% endfor %}



<h2>Ваши вклады</h2>
{% if deposits %}
<ul>
    {% for deposit in deposits %}
    <div class="deposit-info">
        <p>Вклад №{{ loop.index }}</p>
        <p>Сумма: {{ deposit.loan_id.amount }} рублей</p>
        <p>Ставка {{ deposit.loan_id.interest_rate }}% годовых</p>
        <p>В конце срока: {{ deposit.calculate_total_amount() }}</p>
        <p>Доход +{{ calculate_interest(deposit) }} рублей</p>
        <p>Дата открытия: {{ deposit.formatted_date_opened() }} года</p>
        <p>Дата закрытия: {{ deposit.formatted_closing_date() }} года</p>
        <br>
    </div>
    {% endfor %}
</ul>
{% else %}
<p>У вас нет открытых вкладов.</p>
{% endif %}

<h2>Ваши кредиты</h2>
{% if credits %}
<ul>
    {% for credit in credits %}
    <div class="credit-info">
        <p>Кредит №{{ loop.index }} на сумму {{ credit.loan_id.amount }} рублей</p>
        <p>Дата ближайшего платежа: {{ credit.formatted_next_payment_date() }} года</p>
        <p>Ближайший платеж: {{ credit.next_payment_amount }} рублей</p>
        <p>Дата полного погашения: {{ credit.formatted_closing_date() }} года</p>
        <br>
    </div>
    {% endfor %}
</ul>
{% else %}
<p>У вас нет активных кредитов.</p>
{% endif %}


<form method="post" action="{{ url_for('add_funds') }}">
    <div><input type="submit" value="Пополнить баланс"></div>
</form>

<form method="post" action="{{ url_for('create_deposit') }}">
    <div><input type="submit" value="Открыть вклад"></div>
</form>

<form method="post" action="{{ url_for('request_loan') }}">
    <div><input type="submit" value="Оформить кредит"></div>
</form>



<form action="{{ url_for('logout') }}" method="post">
    <button type="submit">Выход</button>


</form>
</body>
</html>
