<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans:400,600,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap">
    <link rel="stylesheet" href="/static/css/custom-style.css">
</head>
<body>
<header>
    <div class="title">
        <h1 style="font-size: 3em; text-align: center;">Кредитная организация</h1>
    </div>
</header>
    <h1>Добро пожаловать в кредитную организацию!</h1>

    {% if current_user.is_authenticated %}
        <p>Вы вошли в аккаунт.<a href="{{ url_for('dashboard') }}">Зайти в личный кабинет</a></p>
        <form action="{{ url_for('logout') }}" method="post">
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <p>Если у вас есть аккаунт, <a href="{{ url_for('login') }}">войдите</a>.</p>
        <p>Если у вас нет аккаунта, пожалуйста, <a href="{{ url_for('register') }}">зарегистрируйтесь</a>.</p>
    {% endif %}


</body>
</html>
