<!-- loan_confirmation.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение кредита</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans:400,600,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap">
    <link rel="stylesheet" href="/static/css/custom-style.css">
</head>
<body>
<header>
    <div class="title">
        <h1 style="font-size: 3em; text-align: center;">Кредитная организация</h1>
    </div>
</header>

<main class="container">

<h1>Поздравляем! Ваш кредит подтвержден.</h1>

<p>Сумма кредита: {{ amount }} рублей</p>
<p>Процентная ставка: {{ interest_rate }}%</p>
<p>Срок кредита: {{ get_loan_period(duration) }}</p>
<p>Ежемесячный платеж: {{ monthly_payment }} рублей</p>

<form action="{{ url_for('dashboard') }}" method="get">
    <button type="submit">Вернуться в профиль</button>
</form>


</main>
</body>
</html>
