<!-- request_loan.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Запрос на кредит</title>
</head>
<body>

<h1>Запрос на кредит</h1>

<form id="loanRequestForm" action="{{ url_for('request_loan') }}" method="post">
    {{ form.hidden_tag() }}

    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}

    <div class="form-group">
        <label for="amount">Желаемая сумма кредита</label>
        {{ form.amount(id="amountInput", class="form-control") }}
    </div>

    <div class="form-group">
        <label for="duration">Срок кредита (в годах)</label>
        {{ form.duration(class="form-control") }}
    </div>

    <p id="interestRateOutput"></p>
    <p id="monthlyPaymentOutput"></p>

    <button type="submit" class="btn btn-success">Отправить запрос</button>
</form>

<form action="{{ url_for('dashboard') }}" method="get">
    <button type="submit">Вернуться в профиль</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const amountInput = document.getElementById('amountInput');
        const durationInput = document.getElementById('duration');
        const interestRateOutput = document.getElementById('interestRateOutput');
        const monthlyPaymentOutput = document.getElementById('monthlyPaymentOutput');

        function updateLoanInfo() {
            const amount = parseFloat(amountInput.value);
            const duration = parseInt(durationInput.value);

            if (amount >= 1000) {
                const interestRate = calculateInterestRate(duration);
                const monthlyPayment = calculateMonthlyPayment(amount, interestRate, duration);

                interestRateOutput.textContent = `Процентная ставка: ${interestRate}%`;
                monthlyPaymentOutput.textContent = `Ежемесячный платеж: ${monthlyPayment} рублей`;
            } else {
                interestRateOutput.textContent = '';
                monthlyPaymentOutput.textContent = '';
            }
        }

        amountInput.addEventListener('input', updateLoanInfo);
        durationInput.addEventListener('input', updateLoanInfo);

        function calculateInterestRate(duration) {
            if (duration <= 3) {
                return 8.0;
            } else if (duration <= 5) {
                return 10.0;
            } else {
                return 12.0;
            }
        }

        function calculateMonthlyPayment(amount, interestRate, duration) {
            const totalPayments = amount * (interestRate / 100 + 1);
            const monthlyPayment = totalPayments / (duration * 12);
            return monthlyPayment.toFixed(2);
        }
    });
</script>


</body>
</html>
